# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs.
# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

[*.cs]
# Namespace settings: file_scoped (namespace MyNamespace;)
csharp_style_namespace_declarations = file_scoped:warning

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true

# Style rules
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
